page-reserve-details {
    .img{
        width: 100%;
        height: 220px;
        // padding: 30px;
        // padding-left: 100px;
        // // padding-top: 10px;
        // // padding-bottom: 10px;
    }
    .imgSquash{
        width:100%;
        height: 220px;
        // padding: 110px;
        // padding-top: 30px;
        // padding-bottom: 30px;
    }

    .imgtakraw{
        width:100%;
        height: 220px;
    }

    .imgbasketball{
        width:100%;
        height: 220px;
    }

    .imgfootball{
        width:100%;
        height: 220px;
    }

   
}
