page-reserve-details {
    .img{
        padding: 30px;
        padding-left: 100px;
        // padding-top: 10px;
        // padding-bottom: 10px;
    }
    .imgSquash{
        padding: 110px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

   
}
