
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Reservation Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="backgroundContent">


      
    <img src="assets/imgs/court.jpg" alt="court" class="img" *ngIf="badmintonChosen">
    <img src="assets/imgs/squash1.png" alt="court" class="imgSquash" *ngIf="squashChosen">
      <h2 style="margin-left: 15px; font-size: 20px;">Reservation Details</h2>
      
      
      <ion-item no-lines style=" border-top: 0.5px solid rgba(78, 78, 78, 0.3)"><strong>Fees: </strong>RM {{ fee }}</ion-item>
      <ion-item no-lines><strong>Time: </strong>{{ dateTime.time }}</ion-item>
      <ion-item no-lines><strong>Date: </strong>{{ dateTime.date }}</ion-item>
      <ion-item no-lines ><strong>Category: </strong>{{ alternativeCourtType }}</ion-item>
      <ion-item no-lines><strong>Item Name: </strong>{{ courtName }}</ion-item>

</ion-content>

<ion-footer no-shadow padding no-border>
    <button ion-button block color="primary" (click)="onReserve()">Reserve Now</button>
  </ion-footer>
