page-reserve-date {
    .title{
        padding-left:15px;
        font-size: 19px;
        margin-bottom: 3px;
    }
    .date{
        font-size: 17px;
        text-align: right;
        width:100%;
        
        
    }

    .dateIcon{
        padding-right:5px;
        padding-left:7px;
    }

    .itemPadding{
        padding: 10px;
    }

    .listheader{
        border-top: none;
        
    }

    .cardContent{
        padding: 0px;
    }

    .categorySelect{
        max-width: 100% !important;
    }
    
    
    
}

.cardContent{
    padding: 0px;
}
.backgroundContent{
        background-color: #f9f9f9;
    }