page-signin {
    .img{
        padding: 100px;
        padding-top: 70px;
        padding-bottom: 0px;
    }

    .signIn{
        background-color:#334241;
    }

    .white{
        color:white;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top:0px;
    }

    .transparent{
        background-color: transparent;
    }

    .input{
        color: white;
    }
}
