page-payment {
    .img{
        padding: 50px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .status{
        color: red;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .h2{
        font-weight: bold;
        color: red;
        
    }

    .successful{
        background-color: #2b8c85;
        text-align: center;
        color: white;
        padding-top: 30px;
        padding-bottom:30px;
        font-size: 1.5em;

    }

    p{
        margin: 8px;
    }

    ion-note{
        font-size: 20px;
    }

    ion-icon{
        font-size: 50px;
    }


}
